<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" id="filterForm-div">
            <div class="filterForm-header">
                <h3>Search</h3>
            </div>
            <form class="needs-validation" novalidate [formGroup]="filterCampsForm" (ngSubmit)="filterCamps()">
                <div class="form-row">
                    <label for="checkIn"><h6>Check-In :</h6></label>
                    <input type="date" class="form-control" id="checkIn" formControlName="checkIn">
                    <div class="valid-feedback" >
                    Valid.
                    </div>
                    <div class="invalid-feedback" >
                    This field is required
                    </div>
                </div>
                <div class="form-row">
                    <label for="checkOut"><h6>Check-Out :</h6></label>
                    <input type="date" class="form-control" id="checkOut" formControlName="checkOut">
                    <div class="valid-feedback" >
                    Valid.
                    </div>
                    <div class="invalid-feedback" >
                    This field is required
                    </div>
                </div>
                <div class="form-row">
                    <label for="text"><h6>Capacity :</h6></label>
                    <input type="number" class="form-control" id="text" formControlName="capacity">
                    <div class="valid-feedback" >
                    Looks good!
                    </div>
                    <div class="invalid-feedback" >
                    This field is required
                    </div>
                </div>            
            <button class="btn btn-primary" id="btn-primary" type="submit">Search</button>
          </form>
        </div>
        <div class="col-md-9">
            <div class="tm-recommended-place-wrap">
                <div class="tm-recommended-place" *ngFor="let camp of camps">
                    <img src="assets/CampImages/{{camp.Image}}" alt="Image" class="img-fluid tm-recommended-img">
                    <div class="tm-recommended-description-box">
                        <h3 class="tm-recommended-title">{{camp.CampName}}</h3>
                        <p class="tm-text-highlight">{{camp.MaxCapacity}}</p>
                        <p class="tm-text-gray">{{camp.Description}}</p>   
                    </div>
                    <a href="#" class="tm-recommended-price-box">
                        <p class="tm-recommended-price">INR {{camp.RatePerNight}}</p>
                        <p class="tm-recommended-price-link">Book Now</p>
                    </a>                        
                </div>
            </div>
        </div>
    </div>
</div>

