<div class="main-content">
    <div class="tm-recommended-place" >
        <div class="tm-recommended-description-box">
            <div class="invoice-header">
                <h1>Invoice {{booking.ID}}</h1>              
            </div>
            <div class="invoice">
                <h2>
                    Total Amount : {{totalAmount}} INR
                </h2>
                <h2>
                    Total Nights : {{totalNights}} Nights
                </h2>
                <p>
                    CheckIn Date: {{booking.CheckInDate}}
                </p>
                <p>
                    CheckOut Date: {{booking.CheckOutDate}}
                </p>
                <p>
                    Billing Address: {{booking.BillingAddress}}
                </p>
                <p>
                    State : {{booking.State}}
                </p>
                <p>
                    Country : {{booking.Country}}
                </p>
                <p>
                    ZipCode : {{booking.ZipCode}}
                </p>
                <p>
                    PhoneNumber : {{booking.PhoneNumber}}
                </p>
            </div>
            <div class="row" *ngIf="checkDates()">
                <div class="col-sm-2">
                    <h3>Rating:</h3>
                </div>
                <div class="col-sm-10">
                    <ul class="list-inline rating-list" *ngFor="let star of stars" style="display: inline-block" >
                        <li  (click)="countStar(star)" [ngClass]=" { 'selected': (star <= selectedStarValue) } ">
                            <i class="fa fa-star"></i>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="btn-div">
                <button type="submit" class="btn btn-primary" [disabled]="checkDates()" (click)="onEditClick()">Edit Booking</button>
                <button type="submit" class="btn btn-danger ml-2" [disabled]="checkDates()" (click)="onCancelClick()">Cancel Booking</button>
                
            </div>
            
            
        </div>
        <div class="tm-recommended-price-box">
            <!-- <div class="camp-header">
                <h2>{{camp.CampName}}</h2>
            </div> -->
            <div >
                <img [src]="transform(booking.Camp.ImageFile)" id="camp-image">
            </div>
            <div >
                <div class="camp-details">
                    <h3 class="tm-recommended-title">{{booking.Camp.CampName}}</h3>
                    <p class="tm-text-highlight">Max Capacity: {{booking.Camp.MaxCapacity}}</p>
                    <p class="tm-text-highlight">Rate per Night: {{booking.Camp.RatePerNight}}</p>
                    <p class="tm-text-gray">
                        {{booking.Camp.Description}}
                    </p>   
                </div> 
            </div>

        </div>                        
    </div>
</div>