a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
.main-content{
    margin-top: 10px;
}
 #bt-primary{
    background-color: #69c6ba;
 }
 #bt-primary:hover{
    background-color:  #c66995;
 }

.tm-recommended-place {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 25px;
    min-height: 470px;
}
.tm-recommended-description-box {
    padding: 30px;
    width: 450px;
}

.tm-recommended-price-box {    
    background-color: #69c6ba;
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 400;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    width: 500px;
    transition: all 0.3s ease;
}
.camp-details{
    padding: 20px;
    width: 450px;
    background-color: white;
}
#camp-image{
    max-width: 300px;
    justify-content: space-evenly;
}
h1{
    font-size: 3rem;
    
}
h2{
  margin-top: 2px;  
  margin-bottom: 4px;
}
.invoice{
    margin-top: 30px;
}
.invoice-header{
    justify-content: space-evenly;
    
}
p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.btn-div{
    margin-top: 10px;
}

.rating-list li {
    float: left;
    color: #ddd;
    padding: 5px ;
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
  }

.rating-list {
    display: inline-block;
    list-style: none;
}
#star-div{
    margin-left: 2px;
    margin-bottom: 0px;
}
.tm-recommended-title{
    font-size: 2rem;
}
.tm-text-highlight{
    font-size: 1.1rem;
    margin-bottom: 5px;
}


