<div class="main-content">
    <div class="tm-recommended-place" >
        <div class="tm-recommended-description-box">
            <form class="needs-validation" novalidate [formGroup]="campForm" (ngSubmit)="onFormSubmit()">

                <div class="form-group">
                  <label for="CampName">Camp Name:</label>
                  <input type="text" class="form-control" id="CampName" formControlName="campName" required>
                  <div class="valid-feedback">Valid</div>
                  <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="RatePerNight">Rate Per Night:</label>
                    <input type="number" class="form-control" id="RatePerNight" formControlName="ratePerNight" required>
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="MaxCapacity">Maximum Capacity:</label>
                    <input type="number" class="form-control" id="MaxCapacity" formControlName="maxCapacity" required>
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="Description">Description:</label>
                    <input type="text" class="form-control" id="Description" formControlName="desc" required>
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="CampImage">Upload Camp Image:</label>
                    <input type="file" class="form-control" id="CampImage" name="CampImage" required (change)="onImageUpload($event.target.files)" >
                    <div class="valid-feedback">Valid</div>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <button type="submit" class="btn btn-primary" id="btn-primary">Submit</button>

              </form>
        </div>
        <div class="tm-recommended-price-box">
            <img id="previewImage" [src]="imageUrl" >
        </div>                        
    </div>
</div>