<div class="container" id="user-container">
    <div class="card ">
        <div class="card-header" >
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link " routerLink='/LogIn' routerLinkActive='active'>LogIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/SignUp' routerLinkActive='active'>SignUp</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
