<div class="tm-page-wrap mx-auto">
    <section class="tm-banner">
        <div class="tm-container-outer tm-banner-bg">
            <div class="container">
                <div class="row tm-banner-row tm-banner-row-header">
                    <div class="col-md-12">
                        <div class="tm-banner-header">
                            <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
                            <img src="assets/Images/dots-3.png" alt="Dots">
                            <p class="tm-banner-subtitle">We assist you to choose the best.</p>                            
                        </div>    
                    </div>  <!-- col-xs-12 -->                      
                </div> <!-- row -->
                <div class="row tm-banner-row" id="tm-section-search">
                    <section class="p-5 tm-container-outer tm-bg-gray">            
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 mx-auto tm-about-text-wrap text-center">                        
                                    <h2 class="text-uppercase mb-4">Your <strong>Journey</strong> is our priority</h2>
                                    <p class="mb-4">Nullam auctor, sapien sit amet lacinia euismod, lorem magna lobortis massa, in tincidunt mi metus quis lectus. Duis nec lobortis velit. Vivamus id magna vulputate, tempor ante eget, tempus augue. Maecenas ultricies neque magna.</p>
                                    <a routerLink="/Camps" class="text-uppercase btn-primary tm-btn">Continue explore</a>                              
                                </div>
                            </div>
                        </div>            
                    </section>                   
                </div> <!-- row -->
                <div class="tm-banner-overlay"></div>
            </div>  <!-- .container -->                   
        </div>     <!-- .tm-container-outer -->                 
    </section>    
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>