<div class="main-content">
    <div class="tm-recommended-place" >
        <div class="tm-recommended-description-box">
            <div class="invoice-header">
                <h1>Booking </h1>              
            </div>
            <form class="needs-validation" novalidate [formGroup]="bookingForm" (ngSubmit)="onFormSubmit()">

                <div class="form-group">
                  <label for="billingAddress">Billing Address:</label>
                  <input type="text" class="form-control" id="billingAddress" formControlName="billingAddress" required
                  [ngClass]="getControlValidationClasses(billingAddress)">

                  <div class="valid-feedback" *ngIf="billingAddress.valid">Valid</div>
                  <div class="invalid-feedback" *ngIf="billingAddress.touched && billingAddress.errors?.required">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="state">State:</label>
                    <input type="text" class="form-control" id="state" formControlName="state" required
                    [ngClass]="getControlValidationClasses(state)">
                    <div class="valid-feedback" *ngIf="state.valid">Valid</div>
                    <div class="invalid-feedback" *ngIf="state.touched && state.errors?.required"> Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="country">Country:</label>
                    <input type="text" class="form-control" id="country" formControlName="country" required 
                    [ngClass]="getControlValidationClasses(country)">
                    <div class="valid-feedback" *ngIf="country.valid">Valid</div>
                    <div class="invalid-feedback" *ngIf="country.touched && country.errors?.required">Please fill out this field.</div>
                </div>

                <div class="form-group">
                    <label for="zipCode">Zip-Code:</label>
                    <input type="text" class="form-control" id="zipCode" formControlName="zipCode" required
                    [ngClass]="getControlValidationClasses(zipCode)">
                    <div class="valid-feedback" *ngIf="zipCode.valid">Valid</div>
                    <div class="invalid-feedback" *ngIf="zipCode.touched && zipCode.errors?.required">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" required
                    [ngClass]="getControlValidationClasses(phoneNumber)">
                    <div class="valid-feedback" *ngIf="phoneNumber.valid">Valid</div>
                    <div class="invalid-feedback" *ngIf="phoneNumber.touched && phoneNumber.errors?.required">Please fill out this field.</div>
                </div>
                
                <button type="submit" class="btn btn-primary" id="btn-primary" [disabled]="!bookingForm.valid">Confirm Booking</button>

              </form>
        </div>
        <div class="tm-recommended-price-box">
            <div >
                <img [src]="transform(camp.ImageFile)" id="camp-image">
            </div>
            <div id="camp-details">
                <h3 class="tm-recommended-title">{{camp.CampName}}</h3>
                <div class="invoice">
                    <h2>
                        Total Amount : {{totalAmount}} INR
                    </h2>
                    <h2 *ngIf="totalWeekends>0 && camp.ExtraWeekendCharges>0">
                        Extra Weekend Charges : {{totalWeekends * camp.ExtraWeekendCharges}} INR
                    </h2>
                    <h2 *ngIf="totalWeekends>0 && camp.ExtraWeekendCharges>0">
                        Total Amount : {{totalAmount +(totalWeekends * camp.ExtraWeekendCharges)}} INR
                    </h2>
                    <h2>
                        Total Nights : {{totalNights}} Nights
                    </h2>
                </div>
                
                <p class="tm-text-highlight">Max Capacity: {{camp.MaxCapacity}} </p>
                <p class="tm-text-highlight">Rate per Night: {{camp.RatePerNight}} INR </p>
                <p class="tm-text-highlight">CheckIn: {{campFilter.CheckInDate}} </p>
                <p class="tm-text-highlight">CheckOut: {{campFilter.CheckOutDate}} </p>        
            </div> 
        </div>                        
    </div>
</div>